.compactcard{
    display: flex; 
    flex: 1;
    height: 7rem !important;
    border-radius: 0.7rem;
    color:black;
    position: relative;
    cursor: pointer;
    padding: 0.5rem;
}
.compactcard:hover{
    box-shadow: none !important;
}



/* /....................radial bar ................/ */
.radialbar{
    
        display: flex;
        flex-direction: column;
       justify-content: space-between;
    
}

.CircularProgressbar-path{
    stroke:#00E1D6 !important;
    /* stroke-width: 10px !important; */
    filter: drop-shadow(2px 4px 6px white );
}

.CircularProgressbar{
    width: 4rem !important;
    overflow: visible;
}
.CircularProgressbar-trail{
    display: none;
}


.radialbar>span{
    font-size: 17px;
    font-weight: bold;
}


/* details */

.detail{
     flex: 1;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     align-items: flex-end;
}

.detail>span:nth-child(2){
    font-size: 22px;
    font-weight: bold;
}
.detail>span:nth-child(3){
    font-size: 12px;
}

/* ................Expandadcard........... */

.ExpandedCard{
    position: absolute;
    width: 60%;
    height: 70vh;
    z-index: 9;
    left: 13rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;

}

.chartcontainer{
    width: 70%;
}




/* ........................@media.............................. */

@media  screen and (max-width: 1200px){
    .ExpandedCard{
        top:2rem;
        height: 70vh ;
        left: 6rem;
    }
   
}


@media  screen and (max-width: 768px){
    .ExpandedCard{
        top:8rem;
        height: 40%;
        left: 40px;
        width: 80%;
    }
}























